.select {
    label {
        display: block;
        color: currentColor;
        margin-bottom: 15px;
    }
    select {
        line-height: 40px;
        min-height: 40px;
        width: 100%;
        color: $secondary_color;
        background-color: $white;
        border: 2px solid $border_color;
        border-radius: 5px;
        padding: 0 12px;
        &:focus {
            box-shadow: 0 0 0 3px $success_color;
        }
    }
}

.select select ~ .error-label {
    margin-top: 10px;
}